<h1>スケジュール詳細</h1>

<p><strong>タイトル:</strong> <%= @schedule.title %></p>
<p><strong>開始日:</strong> <%= @schedule.start_date.strftime('%Y/%m/%d') %></p>
<p><strong>終了日:</strong> <%= @schedule.end_date.strftime('%Y/%m/%d') %></p>
<p><strong>終日:</strong> <%= @schedule.all_day ? '○' : '' %></p>
<p><strong>スケジュールメモ:</strong></p>
<p><%= @schedule.schedule_memo %></p>

<%= link_to '編集', edit_schedule_path(@schedule) %> |
<%= link_to '戻る', schedules_path %>
